<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<body>
    <form action="{% url 'order_form' %}" method="POST">
    {% if permission %}
        {{ OrderForm.as_p }}
        {% csrf_token %}
        <p><input type="submit" value='New Order' name="New Order"></p>
        <p><input type="reset" name="Reset"></p>
        <p><input type="submit" value='Finish' name="Finish"></p>
    {% else %}
        <p>We do not take orders in that time. Sorry</p>
    {% endif %}
    </form>



</body>
</html>